.label {
	border: 3px solid;
	width: 360px;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

h1 {
	font-size: 50px;
	font-family: Helvetica;
	font-weight: bolder;
	margin: 0px;
	padding: 0px;
}

p {
	font-size: 18px;
	margin: 0px;
	padding-top: 0px;
}

.divider {
	background-color: #000000;
	width: 360px;
	margin: 0 auto;
	margin-top: 1px;
	margin-bottom: 1px;
}

#large {
	height: 12px;
}

#medium {
	height: 4px;
}

#small {
	height: 1px;
}

#sm-bold {
	font-weight: bold;
	font-size: 12px;
}

#med-bold {
	font-weight: bold;
	font-size: 16px;
}
#float-right {
	display: inline;
	float: right;
}